<h1>Check Your Allergies!</h1>
<form action="/allergies">
  <div class="form-group">
    <label for="score">Enter your allergy score:
    </label>
    <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check Allergies</button>
</form>
